.RowItem {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.SideBarTitle {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 160px;
  padding: 5px;
  overflow: hidden;
  border: none;
  font: normal normal bold 40px/1 Roboto, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.BigButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 6em;
  height: 4em;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid #000000;
  font: normal 20px/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: #ffffff;
}

.BigButton:hover {
  color: rgba(255,255,255,1);
  background: #000000;
}